.btn {
  background-color: cadetblue;
  align-self: center;
  color: white;
  font-size: 1.5rem;
  border: solid 3px;
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(30, 102, 104);
}
.btn-container {
  text-align: center;
}

.btn-danger {
  background-color: rgb(189, 0, 0);
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: rgb(132, 3, 3);
}

.btn-margin {
  margin-left: 3px;
}
