.recipes-container {
  padding: 1rem;
  margin: 5px;
  border: ridge 5px hsl(200, 70%, 50%);
  border-radius: 35px;
}
.recipes-container label {
  font-size: 1.5rem;
}

.recipes-container div div {
  font-size: 1.2rem;
}

.recipe-header {
  padding-bottom: 1em;
  align-items: center;
}
#header {
  font-size: 3em;
}

.flex-header {
  display: flex;
  justify-content: space-between;
}

.recipe-indent {
  margin-top: 0.2em;
  margin-left: 1.5em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: start;
}

.recipe-instruction {
  white-space: pre-wrap;
}
